# ä½œæ¥­ä¸ƒ
## é¡Œç›®ä¸€ (20%)
### é¡Œç›®æ•˜è¿°

ä½ æ­£åœ¨è™•ç†ä¸€å ´æŠ€è¡“æœƒè­°çš„åƒèˆ‡è€…è³‡æ–™ã€‚é€™äº›è³‡æ–™åˆ†å¸ƒåœ¨å…©å€‹ä¸åŒçš„ç³»çµ±ä¸­ï¼š
- è¨»å†Šç³»çµ±ï¼šè¨˜éŒ„äº†åƒèˆ‡è€…çš„å€‹äººè³‡æ–™åŠå…¶è¨»å†Šç‹€æ³ã€‚
- æ”¯ä»˜ç³»çµ±ï¼šè¨˜éŒ„äº†æ‰€æœ‰æ”¯ä»˜äº¤æ˜“ã€‚

ä½ çš„ä»»å‹™æ˜¯è™•ç†é€™äº›æ•¸æ“šï¼Œç‚ºæœƒè­°çš„è²¡å‹™åœ˜éšŠå’Œè¨»å†Šåœ˜éšŠæä¾›ä»–å€‘éœ€è¦çš„å ±å‘Šã€‚

In [1]:
# data(dictionary)
registrations_data = {
    'participant_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'name': ['Alice', 'Bob', 'Caroline', 'David', 'Eve', 'Frank', 'Grace', 'Heidi', 'Ivan', 'Judy'],
    'session_registered': ['Python', 'JavaScript', 'Java', 'Python', 'JavaScript', 'Java', 'Python', 'JavaScript', 'Java', 'Python']
}

transactions_data = {
    'transaction_id': [500, 501, 502, 503, 504, 505, 506, 507, 508, 509],
    'participant_id': [101, 105, 106, 107, 103, 108, 109, 110, 111, 112],  
    'amount': [100, 100, 100, 100, 100, 100, 100, 100, 100, 100],
    'status': ['Success', 'Failed', 'Success', 'Failed', 'Success', 'Failed', 'Success', 'Success', 'Failed', 'Failed']
}

In [2]:
import pandas as pd
registrations=pd.DataFrame(registrations_data)
transactions=pd.DataFrame(transactions_data)

In [3]:
df1=pd.merge(registrations, transactions, how="inner")
print("æ—¢æœ‰è¨»å†Šç´€éŒ„åˆæœ‰ç¹³è²»ç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆä¸è«–ç¹³è²»æˆåŠŸèˆ‡å¦ï¼‰")
print(df1)

æ—¢æœ‰è¨»å†Šç´€éŒ„åˆæœ‰ç¹³è²»ç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆä¸è«–ç¹³è²»æˆåŠŸèˆ‡å¦ï¼‰
   participant_id      name session_registered  transaction_id  amount  \
0             101     Alice             Python             500     100
1             103  Caroline               Java             504     100
2             105       Eve         JavaScript             501     100
3             106     Frank               Java             502     100
4             107     Grace             Python             503     100
5             108     Heidi         JavaScript             505     100
6             109      Ivan               Java             506     100
7             110      Judy             Python             507     100

    status
0  Success
1  Success
2   Failed
3  Success
4   Failed
5   Failed
6  Success
7  Success

In [4]:
df2=pd.merge(registrations, transactions, how="left")
print("æ‰€æœ‰æœ‰è¨»å†Šç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆåŒ…æ‹¬é‚£äº›æ²’æœ‰ç¹³è²»ç´€éŒ„çš„ï¼‰")
print(df2)

æ‰€æœ‰æœ‰è¨»å†Šç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆåŒ…æ‹¬é‚£äº›æ²’æœ‰ç¹³è²»ç´€éŒ„çš„ï¼‰
   participant_id      name session_registered  transaction_id  amount  \
0             101     Alice             Python           500.0   100.0
1             102       Bob         JavaScript             NaN     NaN
2             103  Caroline               Java           504.0   100.0
3             104     David             Python             NaN     NaN
4             105       Eve         JavaScript           501.0   100.0
5             106     Frank               Java           502.0   100.0
6             107     Grace             Python           503.0   100.0
7             108     Heidi         JavaScript           505.0   100.0
8             109      Ivan               Java           506.0   100.0
9             110      Judy             Python           507.0   100.0

    status
0  Success
1      NaN
2  Success
3      NaN
4   Failed
5  Success
6   Failed
7   Failed
8  Success
9  Success

In [5]:
df3=pd.merge(registrations, transactions, how="right")
print("æ‰€æœ‰æœ‰ç¹³è²»ç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆåŒ…æ‹¬é‚£äº›æ²’æœ‰è¨»å†Šç´€éŒ„çš„ï¼‰")
print(df3)

æ‰€æœ‰æœ‰ç¹³è²»ç´€éŒ„çš„åƒèˆ‡è€…ï¼ˆåŒ…æ‹¬é‚£äº›æ²’æœ‰è¨»å†Šç´€éŒ„çš„ï¼‰
   participant_id      name session_registered  transaction_id  amount  \
0             101     Alice             Python             500     100
1             105       Eve         JavaScript             501     100
2             106     Frank               Java             502     100
3             107     Grace             Python             503     100
4             103  Caroline               Java             504     100
5             108     Heidi         JavaScript             505     100
6             109      Ivan               Java             506     100
7             110      Judy             Python             507     100
8             111       NaN                NaN             508     100
9             112       NaN                NaN             509     100

    status
0  Success
1   Failed
2  Success
3   Failed
4  Success
5   Failed
6  Success
7  Success
8   Failed
9   Failed

In [6]:
df4=pd.merge(registrations, transactions, how="outer")
print("æ‰€æœ‰åƒèˆ‡è€…çš„è¨»å†Šç´€éŒ„å’Œç¹³è²»ç´€éŒ„")
print(df4)

æ‰€æœ‰åƒèˆ‡è€…çš„è¨»å†Šç´€éŒ„å’Œç¹³è²»ç´€éŒ„
    participant_id      name session_registered  transaction_id  amount  \
0              101     Alice             Python           500.0   100.0
1              102       Bob         JavaScript             NaN     NaN
2              103  Caroline               Java           504.0   100.0
3              104     David             Python             NaN     NaN
4              105       Eve         JavaScript           501.0   100.0
5              106     Frank               Java           502.0   100.0
6              107     Grace             Python           503.0   100.0
7              108     Heidi         JavaScript           505.0   100.0
8              109      Ivan               Java           506.0   100.0
9              110      Judy             Python           507.0   100.0
10             111       NaN                NaN           508.0   100.0
11             112       NaN                NaN           509.0   100.0

     status
0   Success
1       NaN
2   Success
3       NaN
4    Failed
5   Success
6    Failed
7    Failed
8   Success
9   Success
10   Failed
11   Failed

## é¡Œç›®äºŒ (40%)

### é¡Œç›®æ•˜è¿°

é€™é¡Œæœƒç”¨åˆ°ä¾†è‡ªDcardçš„è³‡æ–™é›†ï¼Œé€™å€‹è³‡æ–™é›†åŒ…å«ä»¥ä¸‹å…­å€‹æ¬„ä½ï¼š

- title: æ¨™é¡Œ
- commentCount: ç•™è¨€æ•¸
- likeCount: æŒ‰è®šæ•¸
- forumName: çœ‹æ¿åç¨±
- gender: ç™¼æ–‡è€…æ€§åˆ¥
- text: å…§æ–‡ï¼Œæ ¼å¼æ˜¯list of list of list (ä»¥å­—ä¸²è³‡æ–™å‹æ…‹å‘ˆç¾)
  - ç¬¬ä¸€å±¤æ˜¯æ•´ç¯‡æ–‡ç« 
  - ç¬¬äºŒå±¤æ˜¯å¥å­
  - ç¬¬ä¸‰å±¤æ˜¯ `[token, POS tag]`

[Unicode 15.1 Character Code Charts](https://www.unicode.org/charts/)

In [7]:
# 1. è®€å–æª”æ¡ˆ
import csv
dcard_df=pd.read_csv('./dcard-500.csv', encoding='utf-8')

In [8]:
# 2. å°‡genderæ¬„ä½ä¸­çš„æ•¸å€¼æ›æˆå­—æ¯
dcard_df["gender"]=dcard_df["gender"].replace({0:'F', 1:'M'})

In [9]:
# 3. æ–°å¢æ¬„ä½
# æŠ“token
i=0
dcard_df["reconstructed_text"]=""
for text in dcard_df["text"]:
    list_sen=eval(text)
    string_token=""
    for sentence in list_sen:
        if sentence != list_sen[0]: string_token+=' '
        for ele in sentence:
            if ele != sentence[0]: string_token+=' '
            string_token+=ele[0]
    dcard_df["reconstructed_text"].iloc[i]=string_token
    i+=1

/tmp/ipykernel_26180/1005442751.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dcard_df["reconstructed_text"].iloc[i]=string_token

In [10]:
import re
# æŠ“emoji
i=0
dcard_df["emojis"]=""
for sentence in dcard_df["reconstructed_text"]:
    emojis = re.findall(r'[\U00002600-\U000027BF\U0001f600-\U0001f64F\U0001F300-\U0001F5FF\U0001F680-\U0001F6FF\U0001F900-\U0001F9FF\u2600-\u26FF\u2700-\u27BF]', sentence)
    dcard_df["emojis"].iloc[i]=''.join(emojis)
    i+=1
dcard_df.head()
# r'[\U00002600-\U000027BF\U0001f600-\U0001f64F\U0001F300-\U0001F5FF\U0001F680-\U0001F6FF\U0001F900-\U0001F9FF\u2600-\u26FF\u2700-\u27BF]+'

/tmp/ipykernel_26180/3770199301.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dcard_df["emojis"].iloc[i]=''.join(emojis)

,title,commentCount,likeCount,forumName,gender,text,date,reconstructed_text,emojis
0,æƒ³è©¢å•ä¸€ä¸‹,4,0,3C,F,"[[['Iphone', 'FW'], ['æ‰‹æ©Ÿ', 'Na'], ['line', 'FW...",2020-01-23,Iphone æ‰‹æ©Ÿ line è¦–è¨Š æœ‰ è¾¦æ³• ä¸€é‚Š è¢å¹• éŒ„è£½ ä¸€é‚Š è¦–è¨Š å— å› ç‚º å®¶äºº ...,
1,#æ–°å¸‚ #ç¾Šè‚‰çˆ é˜¿æ—¦å¸«ç¾Šè‚‰çˆ,5,54,ç¾é£Ÿ,M,"[[['å„ä½', 'Nh'], ['æ™šå®‰', 'VH'], ['æˆ‘', 'Nh'], ['æ˜¯...",2020-01-13,å„ä½ æ™šå®‰ æˆ‘ æ˜¯ é˜¿æ° ~ https://i.imgur.com/OU0rqqz . j...,
2,å››é¢å½¿ éˆé©—,2,8,éˆç•°,M,"[[['é€™é™£å­', 'Nd'], ['è·Ÿ', 'P'], ['å¥³å‹', 'Na'], ['åˆ†...",2020-01-22,é€™é™£å­ è·Ÿ å¥³å‹ åˆ†åˆ†åˆåˆ çš„ ä¹‹å‰ å°± æ±‚ é é•·æ˜¥è·¯ çš„ å››é¢ å½¿ ä¸å°‘ äº‹æƒ… å¹¾ä¹...,
3,Foodpandaåˆ°åº•æ˜¯ï¼Ÿ,10,19,ç¾é£Ÿ,F,"[[['è¨‚', 'VC'], ['äº†', 'Di'], ['å…©', 'Neu'], ['å¤©'...",2020-01-29,è¨‚ äº† å…© å¤© ï¼š ç¬¬ä¸€ å¤© ï¼Œ åŸæœ¬ å¯« è¦ ç­‰ 50 åˆ†é˜ ï¼Œ çµæœ å¾Œä¾† åˆ ä¸€ç›´ æ”¹...,
4,#å”å°‹åŒ¿åç›œåœ–ä»”ï¼ ç•¶å‰µä½œè€…å¡‘è† ï¼Ÿ,9,50,æ‰‹ä½œ,F,"[[['ï¼ˆ', 'PARENTHESISCATEGORY'], ['â', 'FW'], [...",2020-01-15,ï¼ˆ â å” å°‹ ç›œ åœ– è€… â ï¼‰ æˆ‘ éœ€è¦ å¤§å®¶ çš„ å¹«å¿™ ï¼ å”å°‹ ï¼š æ–°å—å¨çˆ¾æ–¯ å¤§å­¸...,ââğŸ“¢ğŸ“¢

In [11]:
# 4. è¨ˆç®—emojiçš„ä½¿ç”¨æ¬¡æ•¸
all_emojis = ''.join(dcard_df['emojis']).split()
emoji_series = pd.Series(list(all_emojis[0]))
emoji_count = emoji_series.value_counts()
top_10_emojis = emoji_count.head(10)

print(top_10_emojis)

ğŸ˜‚    186
ğŸ˜­    109
ğŸ»    103
â¤     72
ğŸ‘‡     66
ğŸ™     62
ğŸ”´     45
ğŸ¤£     38
â™€     32
ğŸ‘§     31
dtype: int64

In [12]:
# 5. æ ¹æ“šä¸åŒæ€§åˆ¥åˆ†æå‰åå€‹æœ€å¸¸ç”¨çš„è¡¨æƒ…ç¬¦è™Ÿ
# å–å‰ååçš„emojiåˆ—è¡¨ï¼Œæ‰¾å‡ºå«æœ‰ä»–å€‘çš„è³‡æ–™
top_10=top_10_emojis.index.tolist()
top_10_df=top_10_emojis.to_frame().reset_index().rename(columns={'index': 'emoji'})

In [13]:
# Male
male=dcard_df[dcard_df["gender"]=='M']
male_emojis = ''.join(male['emojis']).split()
male_emoji_series = pd.Series(list(male_emojis[0]))
male_emoji_count = male_emoji_series.value_counts()

male_10_df=male_emoji_count.to_frame().reset_index().rename(columns={'index': 'emoji'})

In [14]:
# Female
female=dcard_df[dcard_df["gender"]=='F']
female_emojis = ''.join(female['emojis']).split()
female_emoji_series = pd.Series(list(female_emojis[0]))
female_emoji_count = female_emoji_series.value_counts()

female_10_df=female_emoji_count.to_frame().reset_index().rename(columns={'index': 'emoji'})

In [15]:
male_mg=pd.merge(top_10_df, male_10_df, on=["emoji"], how="left")
male_mg=male_mg.drop(columns=['0_x'])
male_mg=male_mg.rename(columns={'0_y':'M'})
male_mg

  emoji     M
0     ğŸ˜‚  55.0
1     ğŸ˜­  12.0
2     ğŸ»  14.0
3     â¤   4.0
4     ğŸ‘‡  17.0
5     ğŸ™  13.0
6     ğŸ”´   NaN
7     ğŸ¤£   5.0
8     â™€   NaN
9     ğŸ‘§   NaN

In [16]:
female_mg=pd.merge(top_10_df, female_10_df, on=["emoji"], how="left")
female_mg=female_mg.drop(columns=['0_x'])
female_mg=female_mg.rename(columns={'0_y':'F'})
female_mg

  emoji    F
0     ğŸ˜‚  131
1     ğŸ˜­   97
2     ğŸ»   89
3     â¤   68
4     ğŸ‘‡   49
5     ğŸ™   49
6     ğŸ”´   45
7     ğŸ¤£   33
8     â™€   32
9     ğŸ‘§   31

In [17]:
B=pd.merge(male_mg, female_mg, how="outer")
B

  emoji     M    F
0     ğŸ˜‚  55.0  131
1     ğŸ˜­  12.0   97
2     ğŸ»  14.0   89
3     â¤   4.0   68
4     ğŸ‘‡  17.0   49
5     ğŸ™  13.0   49
6     ğŸ”´   NaN   45
7     ğŸ¤£   5.0   33
8     â™€   NaN   32
9     ğŸ‘§   NaN   31

In [18]:
# ç¸±å‘æ¯”è¼ƒä¸åŒè¡¨æƒ…ç¬¦è™Ÿåœ¨ä¸åŒæ€§åˆ¥ä¸­çš„ä½¿ç”¨æ¬¡æ•¸
B.fillna(0, inplace=True)
B['M'] = B['M'].astype(int)
B.set_index("emoji", inplace=True)
display(B)

        M    F
emoji
ğŸ˜‚      55  131
ğŸ˜­      12   97
ğŸ»      14   89
â¤       4   68
ğŸ‘‡      17   49
ğŸ™      13   49
ğŸ”´       0   45
ğŸ¤£       5   33
â™€       0   32
ğŸ‘§       0   31

In [19]:
# æ©«å‘æ¯”è¼ƒä¸åŒæ€§åˆ¥å°åŒä¸€è¡¨æƒ…ç¬¦è™Ÿçš„ä½¿ç”¨æ¬¡æ•¸
A=B.T
display(A)

emoji    ğŸ˜‚   ğŸ˜­   ğŸ»   â¤   ğŸ‘‡   ğŸ™   ğŸ”´   ğŸ¤£   â™€   ğŸ‘§
M       55  12  14   4  17  13   0   5   0   0
F      131  97  89  68  49  49  45  33  32  31

## é¡Œç›®ä¸‰ (40%)

### é¡Œç›®æ•˜è¿°

é€™é¡Œæœƒç”¨åˆ°MovieLensç¶²ç«™æä¾›çš„è³‡æ–™é›†ä¾†é€²è¡Œé›»å½±æ¨è–¦ï¼ˆ[è³‡æ–™ä¾†æº](https://grouplens.org/datasets/movielens/)ï¼‰ã€‚é€™ä»½è³‡æ–™åŒ…å«äº†ä½¿ç”¨è€…çš„è©•åˆ†æ•¸æ“šå’Œé›»å½±çš„è©³ç´°è³‡æ–™ã€‚

In [20]:
# 1. è®€å–è³‡æ–™
movies=pd.read_csv('./movies.csv', encoding='utf-8')
ratings=pd.read_csv('./ratings.csv', encoding='utf-8')

In [21]:
# 2. å‰è™•ç†
# left joinåˆä½µratingså’Œmovies
ratings_movies=pd.merge(ratings, movies, on='movieId', how='left')
ratings_movies.head(5)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [22]:
# é¸å‡ºuserIdç‚º2çš„ä½¿ç”¨è€…
user2=ratings_movies[ratings_movies['userId']==2]
user2=user2.drop_duplicates(subset='movieId', keep='last')
user2.head(10)

,userId,movieId,rating,timestamp,title,genres
232,2,318,3.0,1445714835,"Shawshank Redemption, The (1994)",Crime|Drama
233,2,333,4.0,1445715029,Tommy Boy (1995),Comedy
234,2,1704,4.5,1445715228,Good Will Hunting (1997),Drama|Romance
235,2,3578,4.0,1445714885,Gladiator (2000),Action|Adventure|Drama
236,2,6874,4.0,1445714952,Kill Bill: Vol. 1 (2003),Action|Crime|Thriller
237,2,8798,3.5,1445714960,Collateral (2004),Action|Crime|Drama|Thriller
238,2,46970,4.0,1445715013,Talladega Nights: The Ballad of Ricky Bobby (2...,Action|Comedy
239,2,48516,4.0,1445715064,"Departed, The (2006)",Crime|Drama|Thriller
240,2,58559,4.5,1445715141,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
241,2,60756,5.0,1445714980,Step Brothers (2008),Comedy

In [23]:
# 3. æ¨è–¦é›»å½±
genres_split = user2['genres'].str.split('|', expand=True).stack().reset_index(level=1, drop=True)
genres_split.name = 'genre'  
user2_genres = user2.drop('genres', axis=1).join(genres_split)

genre_rating_counts = user2_genres.groupby('genre')['rating'].count().reset_index()
genre_rating_counts.rename(columns={'rating': 'rating_counts'}, inplace=True)

filtered_genres = genre_rating_counts[genre_rating_counts['rating_counts'] >= 10]
user2_genres_filtered = user2_genres[user2_genres['genre'].isin(filtered_genres['genre'])]

user2_ratings = user2_genres_filtered.groupby('genre')['rating'].mean().reset_index()
user2_ratings = user2_ratings.sort_values(by='rating', ascending=False)

print(user2_ratings)

      genre    rating
0    Action  3.954545
2     Drama  3.882353
1     Crime  3.800000
3  Thriller  3.700000

In [24]:
top_genre = user2_ratings.iloc[0]['genre']

user2_seen_movies = set(user2['movieId'])  # user2å·²ç¶“çœ‹éçš„é›»å½±
recommended_movies = ratings_movies[(ratings_movies['genres'].str.contains(top_genre)) & (~ratings_movies['movieId'].isin(user2_seen_movies))]

recommended_movies = recommended_movies.drop_duplicates(subset='movieId').head(10)

print(recommended_movies[['movieId', 'title', 'genres']])

    movieId                                      title  \
2         6                                Heat (1995)
5        70                 From Dusk Till Dawn (1996)
7       110                          Braveheart (1995)
8       151                             Rob Roy (1995)
10      163                           Desperado (1995)
15      260  Star Wars: Episode IV - A New Hope (1977)
17      316                            Stargate (1994)
19      349            Clear and Present Danger (1994)
22      367                           Mask, The (1994)
23      423                          Blown Away (1994)

                           genres
2           Action|Crime|Thriller
5   Action|Comedy|Horror|Thriller
7                Action|Drama|War
8        Action|Drama|Romance|War
10         Action|Romance|Western
15        Action|Adventure|Sci-Fi
17        Action|Adventure|Sci-Fi
19    Action|Crime|Drama|Thriller
22    Action|Comedy|Crime|Fantasy
23                Action|Thriller